/* .templateloginform{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.reactiveloginform{
    width: 100%;
    max-width: 330px;
    padding: 15px;
   
} */
/* 
input.ng-invalid.ng-touched{
    border-color: red;
} */